SOC_VENVONE/
/SOC_VENVONE/
__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook检查点
.ipynb_checkpoints

# 编辑器配置文件
.vscode/
.idea/

# 日志文件
*.log

# 操作系统文件
.DS_Store
Thumbs.db

# 其他常见忽略
*.swp
*.swo
data/raw/
